/*@media (max-width:1250px){*/
/*    .modal-login-title{*/
/*    font-size:29px;*/
/*    }*/
/*    .modal-input{*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    }*/
/*    .memory-span{*/
/*        font-size: 16px;*/
/*    }*/
/*    .lost-password-link{*/
/*        font-size: 16px;*/
/*    }*/
/*    .error-parag{*/
/*        height:16px;*/
/*    }*/
    
/*}*/

@media (max-width:1024px){
    
    .modal-registration{
        max-width:500px;
        height:535px;
    }
    .modal-inner-block{
        height:auto;
        display:block
        
    }
    .modal-login-select-headers{
        display:flex;
        margin:0 auto;
        margin-top:20px;
        margin-bottom:60px;
        width:90%;
        justify-content:space-around;
    }
     .modal-login-select-header{
         color:#aeaeae;
         font-size:30px;
         font-weight:500;
     }
    .modal-login-selected{
       
       color:#000;
        font-weight:700;
    }
    
    .modal-login-block{
        width:82%;
        margin:0 auto;
       position:absolute;
        border-right: none;
        padding-right: 0;
    }
    .modal-register-block{
        padding-left:0;
        height:auto;
       width:81%;
       margin:0 auto;
       position:absolute;
       display: none;
    }
    
    .lost-pass-parag{
        margin-top:40px;
        position: relative;
    }
    .modal-login-title{
        display:none;
      
    }
    .accepting-block{
        margin-bottom:25px;
    }
    
  
}

@media (max-width:550px){

.modal-registration{
    overflow-y:auto;
    max-width:100%;
    width:100%;
    height:100%;
    border-radius:0;
}

 .modal-register-block{
     width:81%;
 }  
     .modal-login-block{
     width:81%;
}
.modal-input{
    font-size:16px;
    font-weight:500;
}
.memory-span,.lost-password-link{
    font-size:16px;
}

}
@media (max-width:440px){
     .modal-register-block{
     width:77%;
 }  
   
    .modal-login-block{
     width:77%;
}
.modal-login-select-headers{
    width:100%;
}

}
@media (max-width:400px){
.modal-login-select-headers{
   justify-content: space-between;
} 
.login-btn-and-memory-block{
    display:block;
}
.input-login-submit{
    margin-top:15px;
}
}
@media (max-width:370px){
    .modal-login-block{
        width:82%;
    }
       .modal-register-block{
     width:82%;
 }  
    .modal-login-select-headers{
    margin-bottom:25px;
    }
    .modal-login-select-header{
    font-size:29px;
    }
    .modal-registration{
        padding:30px;
    }
    .login-btn-and-memory-block{
        margin-top:30px;
    }
    .accepting-block{
        margin-bottom:10px;
    }
}
@media (max-height:550px){
    .modal-register-block{
    padding-bottom:40px;
    }
   .modal-registration{
   
    overflow-y:auto;
    max-width:100%;
    width:100%;
    height:100%;
    border-radius:0;
} 
.lost-password-link{
    padding-bottom:40px;
}

}



